<div class="text-and-lightbox-wrapper g-grid pure-g-r">
    <div class="overview-text g-block pure-u-2-3">
     {{ page.content }}
    </div>
    <div class="overview-lightbox g-block size-1-3 pure-u-1-3">
    {% set lightbox = page.header.featherlight %}
    {{ page.media[lightbox.image].lightbox(lightbox.width,lightbox.height).crop(0,0,700,600).derivatives(600,lightbox.width,200).sizes('(max-width:26em) 100vw, 50vw').html('lightbox',lightbox.alt,'lightbox') }}
    {{ page.media[lightbox.image].html('Lightbox',lightbox.alt,'no-lightbox') }}
    </div>
</div>