# Composer
composer.lock
.composer
vendor/

# Sass
.sass-cache

# Grav Specific
backup/*
!backup/.*
cache/*
!cache/.*
assets/*
!assets/.*
logs/*
!logs/.*
images/*
!images/.*
user/accounts/*
!user/accounts/.*
user/config/security.yaml
user/data/*
!user/data/.*
user/plugins/*
!user/plugins/.*
user/themes/antimatter
user/themes/deliver
!user/themes/.*
!user/themes/academydeliver
user/themes/academydeliver/.sass-cache

# OS Generated
.DS_Store*
ehthumbs.db
Thumbs.db
*.swp

# phpstorm
.idea/*
nbproject/*
