// Your custom SCSS should be written here...

.grav-lightslider {
    .lSSlideOuter {
        .lSPager.lSpg {
            > li a {
                z-index: 1;
            }
        }
    }
}

#body > script:first-child + .grav-lightslider {
  margin-top: -3rem;
}

body.online-learning iframe {
  border: 0;
}

img.infographic {
  margin: 0 auto;
  @include breakpoint(desktop-range) {
    max-width: 48em;
  }
  @include breakpoint(large-desktop-range) {
    max-width: 48em;
  }
  display: block;
}
img.inline-left {
  float:left;
  margin: 0.5em 1em 0.5em 0;
  max-width: 16em;
  @include breakpoint(mobile-only) {
    float: none;
    display: block;
    clear: both;
    margin: 1rem auto;
  }
}

#content > ul > li,
#content > ol > li {
  padding-bottom: 0.4rem;
}

.text-and-lightbox-wrapper {
  padding-top: 2rem;
}

// Table of contents
.toc ul {
  margin-top: 0;
  margin-bottom: 0;
}

// Academy Training Pathways
#training_paths_accordion {
  .panel-heading {
    .accordion-toggle h4 {
      text-align: left;
      padding-left: 1.5rem;

      /* symbol for opened panels */
      background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width=%2213%22%20height=%2213%22%20viewBox=%220%200%2013%2013%22%20xmlns=%22http://www.w3.org/2000/svg%22%3E%0A%20%20%20%20%3Crect%20fill=%22%23666%22%20width=%2213%22%20height=%221%22%20x=%220%22%20y=%226%22%3E%3C/rect%3E%0A%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: 0% 50%;
    }
    .accordion-toggle.collapsed h4 {
        /* symbol for collapsed panels */
        background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2213%22%20height%3D%2213%22%20viewBox%3D%220%200%2013%2013%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Crect%20fill%3D%22%23666%22%20width%3D%2213%22%20height%3D%221%22%20x%3D%220%22%20y%3D%226%22%3E%3C%2Frect%3E%0A%20%20%20%20%3Crect%20fill%3D%22%23666%22%20width%3D%221%22%20height%3D%2213%22%20x%3D%226%22%20y%3D%220%22%3E%3C%2Frect%3E%0A%3C%2Fsvg%3E");
    }
    a.accordion-toggle{
        text-decoration: none;
    }
  }
}


.training-path-summary {

  .training-path-description {
    padding-right: 2rem;
  }
  .training-path-list {
    
    ol {
      list-style-position: inside;
      padding-left: 0;
      li {
        background-color: lightgray;
        margin: 0.2rem 0;
        padding: 0.2rem;
      }
    }
  }
}
.training-paths-course {
  display: inline-block;
  float: left;
  width: 45%;
  margin-right: 2rem;
  margin-bottom: 2rem;
  @include breakpoint(mobile-only) {
    width: 100%;
  }
}
