// Your custom SCSS should be written here...

.grav-lightslider {
    .lSSlideOuter {
        .lSPager.lSpg {
            > li a {
                z-index: 1;
            }
        }
    }
}

#body > script:first-child + .grav-lightslider {
  margin-top: -3rem;
}

body.online-learning iframe {
  border: 0;
}

img.infographic {
  margin: 0 auto;
  @include breakpoint(desktop-range) {
    max-width: 48em;
  }
  @include breakpoint(large-desktop-range) {
    max-width: 48em;
  }
  display: block;
}
img.inline-left {
  float:left;
  margin: 0.5em 1em 0.5em 0;
  max-width: 16em;
  @include breakpoint(mobile-only) {
    float: none;
    display: block;
    clear: both;
    margin: 1rem auto;
  }
}

#content > ul > li,
#content > ol > li {
  padding-bottom: 0.4rem;
}

.text-and-lightbox-wrapper {
  padding-top: 2rem;
}

// Table of contents
.toc ul {
  margin-top: 0;
  margin-bottom: 0;
}

// Academy Training Pathways
#training_paths_accordion {
  $accordion-height: 36;
  $accordion-icon-width: 2;
  $accordion-icon-height: 14;
  $accordion-icon-x: round(($accordion-height - $accordion-icon-height) / 2); // = 11
  $accordion-icon-y: round(($accordion-height - $accordion-icon-width) / 2); // = 12

  .panel {
    border: none;
    box-shadow: none;
    border-radius: 0;
    .panel-heading {
      background-color: $core-accent;
      border: none;
      border-radius: 0;
      padding: 0;
      .accordion-toggle {
        display: block;
        height: #{$accordion-height}px;
        /* symbol for opened panels */
        background-image: url("data:image/svg+xml,%3Csvg width='#{$accordion-height}' height='#{$accordion-height}' viewBox='0 0 #{$accordion-height} #{$accordion-height}' xmlns='http://www.w3.org/2000/svg'%3E %3Crect fill='%23000' width='#{$accordion-height}' height='#{$accordion-height}' x='0' y='0'%3E%3C/rect%3E %3Crect fill='%23FFF' width='#{$accordion-icon-height}' height='#{$accordion-icon-width}' x='#{$accordion-icon-x}' y='#{$accordion-icon-y}'%3E%3C/rect%3E %3C/svg%3E");
        background-repeat: no-repeat;
        background-position: 0% 50%;
        h4 {
          text-align: left;
          display: inline-block;
          margin-left: 2rem;
          padding: 5px 15px;
        }
      }
      .accordion-toggle.collapsed {
          /* symbol for collapsed panels */
          background-image: url("data:image/svg+xml,%3Csvg width='#{$accordion-height}' height='#{$accordion-height}' viewBox='0 0 #{$accordion-height} #{$accordion-height}' xmlns='http://www.w3.org/2000/svg'%3E %3Crect fill='%23000' width='#{$accordion-height}' height='#{$accordion-height}' x='0' y='0'%3E%3C/rect%3E %3Crect fill='%23FFF' width='#{$accordion-icon-height}' height='#{$accordion-icon-width}' x='#{$accordion-icon-x}' y='#{$accordion-icon-y}'%3E%3C/rect%3E %3Crect fill='%23FFF' width='#{$accordion-icon-width}' height='#{$accordion-icon-height}' x='#{$accordion-icon-y}' y='#{$accordion-icon-x}'%3E%3C/rect%3E %3C/svg%3E");
      }
      a.accordion-toggle {
          text-decoration: none;
          color: $white;
      }
    }
  }
}


.training-path-summary {

  .training-path-description {
    padding-right: 2rem;
  }
  .training-path-list {

    ol {
      counter-reset:  li; /* Initiate a counter */
      margin-left:    0;  /* Remove the default left margin */
      padding-left:   0;  /* Remove the default left padding */
    }
    ol > li {
      position:   relative;     /* Create a positioning context */
      margin:     0 0 6px 2em;  /* Give each list item a left margin to make room for the numbers */
      padding:    4px 8px;      /* Add some spacing around the content */
      list-style: none;         /* Disable the normal item numbering */
      border-top: 2px solid $black;
      background: $secondary-bg;
    }
    ol > li:before {
      content:            counter(li);  /* Use the counter as content */
      counter-increment:  li;           /* Increment the counter by 1 */

      /* Position and style the number */
      position:           absolute;
      top:                -2px;
      left:               -2em;
      -moz-box-sizing:    border-box;
      -webkit-box-sizing: border-box;
      box-sizing:         border-box;
      width:              2em;

      /* Some space between the number and the content in browsers that support
        generated content but not positioning it (Camino 2 is one example) */
      margin-right:       8px;
      padding:            4px;
      border-top:         2px solid $black;
      color:              $white;
      background:         $black;
      font-weight:        bold;
      text-align:         center;
    }
    li ol,
    li ul {               margin-top:6px; }
    ol ol li:last-child { margin-bottom:0; }

  }
}
.training-paths-course {
  display:        inline-block;
  float:          left;
  width:          45%;
  margin-right:   2rem;
  margin-bottom:  2rem;
  
  @include breakpoint(mobile-only) {
    width: 100%;
  }
}
