// Your custom SCSS should be written here...

.grav-lightslider {
    .lSSlideOuter {
        .lSPager.lSpg {
            > li a {
                z-index: 1;
            }
        }
    }
}

#body > script:first-child + .grav-lightslider {
  margin-top: -3rem;
}

body.online-learning iframe {
  border: 0;
}

img.infographic {
  margin: 0 auto;
  @include breakpoint(desktop-range) {
    max-width: 48em;
  }
  @include breakpoint(large-desktop-range) {
    max-width: 48em;
  }
  display: block;
}
img.inline-left {
  float:left;
  margin: 0.5em 1em 0.5em 0;
  max-width: 16em;
  @include breakpoint(mobile-only) {
    float: none;
    display: block;
    clear: both;
    margin: 1rem auto;
  }
}

#content > ul > li,
#content > ol > li {
  padding-bottom: 0.4rem;
}

// Academy Training Pathways
div.training_paths_course {
  display: inline-block;
  float: left;
  width: 45%;
  margin: 0 1rem;
  margin-bottom: 2rem;
  @include breakpoint(mobile-only) {
    width: 100%;
  }
}
